<div class="center jumbotron">
  <h1>Welcome to my App</h1>
  
  <h2>This is the home page for the prof. RnR course.</h2>
  
  <%= link_to "Signup now!", register_path, class: "btn btn-lg btn-success" %>
</div>


<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      View Content as Guest user
    </h3>
    <h2 class="left">
      Browse and view receipes as a guest and Sign up later
    </h2>
    <p>
      <%= link_to "Browse Receipes",receipes_path,class:"btn btn-warning btn-small" %>
    </p>
  </div>
   <div class="col-lg-4">
    <h3 class="midrow">
      Sign in to your account
    </h3>
    <h2 class="left">
      Add/Update your receipes/Create reviews/Like/Dislike them
    </h2>
    <p>
      <%= link_to "Login to your account",login_path,class:"btn btn-warning btn-small" %>
    </p>
  </div>
  
</div>
